<div class="ui segment">
    <div class="ui secondary menu">
        <div class="right menu">
            <button onclick="updateButton(this, '0xLD')" class="ui green button"> <i
                    class="icon sync"></i>Hn Meri Jaan Karde Lock 🤣 (@DIMMY)</button>
        </div>
    </div>
</div>
