<center><br><marquee align="center" width="160" direction="right" behavior="alternate">
<a href="https://t.me/developer_dimmi" style="color:orange;text-decoration:none;text-shadow: 2px 2px 5px orange;" target="_blank"><div style="text-align: center; color: orange">D E S I N G&nbsp;<span style="color:white;text-shadow: 2px 2px 5px white;"> B Y&nbsp;</span><a href="https://t.me/developer_dimmi" style="color:green;text-shadow: 2px 2px 4px green;" target="_blank"> D I M M Y
</a>
</div></marquee>
<br><br></center>
