<br>
<audio id="audio" src="#" hidden autoplay></audio>
<script>
const playAudio = () =>{
var audio = document.querySelector("#audio");
if (audio.paused) {
audio.play();
}
}
</script>
<div class="ui inverted menu" style="border:solid red 2px;border-radius:30px;">
    <div class="header item"><img src="https://www.linkpicture.com/q/logo_574.png" style="width: 200px"></div>
    <a href="/" class="item">
        <i class="green icon mobile alternate"></i>&nbsp;&nbsp; Devicesz 
    </a>
    <a href="/logs" class="item">
        <i class="green icon terminal"></i>&nbsp;&nbsp; Event Log !!
    </a>
<a href="/builder" class="item">
        <i class="green icon wrench"></i>&nbsp;&nbsp; APK Builder
    </a>
    <div class="right menu">
        <a href="/logout" class="ui item">
            <i class="green icon lock"></i>&nbsp; Logout
        </a>
    </div>
</div>
<div class="ui divider"></div>
<br>
